---
pageKey: multipass
title: Conference Multipass 20/21
description: Get a conference pass unlocking access to a number of remote and hybrid JavaScript events and the collection of recordings including talks and workshops.
ogUrl: https://gitnation.org/multipass-subscription
ogImage: https://gitnation.org/img/og-gitnation.png
inner: true
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<main class="content">
  {% include "partials/_hero.html" %}
  <section class="section s-citizenship ">
    <div class="container container--lg">
      <h4 class="section__title big">This season-based multipass is outdated as of April 14 in favor of the new <a href="/multipass-subscription">subscription-style multipass</a>.</h4>
      <div class="section__content s-citizenship__content citizenship-info">
        <div class="citizenship-info__card">
          <div class="visa-card">
            <div class="visa-card__img">
              <svg class="icon icon-face">
                <use xlink:href="img/sprite-inline.svg#face"></use>
              </svg>
            </div>
            <div class="visa-card__desc">
              <h3>Korben<br> Dallas</h3>
              <p>hi@gitnation.org</p>
            </div>
          </div>
        </div>
        <div class="citizenship-info__desc text-based">
          <h5>Save on regular ticket prices (2x cheaper than buying separate ticket); and in addition to the live streaming of the included events, you’ll also get:</h5>
          <ul>
            <li>Early access to initial community ticket sales of in-person events (Super Early Bird)</li>
            <li>Discounts to hands-on workshops</li>
            <li>Full-access ticket remote event passes include:<ul>
                <li>Access to HD live stream, instant recordings, and 3h workshops</li>
                <li>Access to exclusive tracks</li>
                <li>Chat with speakers and QnA sessions</li>
                <li>After-parties with speakers and other attendees</li>
                <li>Full ticket to either <a href="https://remote.reactsummit.com/">React Summit Remote Edition</a> or <a href="https://live.jsnation.com/">JSNation Live</a> – for those only who bought Multipass after Feb 20, 2021</li>
                <li>Talk recordings from <a href="https://graphqlgalaxy.com/">GraphQL Galaxy</a>, <a href="https://www.testjssummit.com/">TestJS Summit</a>, <a href="https://reactsummit.com/">React Summit 2020</a>, <a href="https://nodecongress.com/">Node Congress</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
      <div class="section__content s-citizenship__content text-based">
        <h5>Multipasses purchased up until April 14th 2021 are valid until June 30, 2021. With moving to subscription-style Multipass, all newly bought passes will now last for a year from purchase date with all events included in the period.</h5>
        <div class="pass-list">
          <div class="pass-list__item">
            <div class="pass-list__img-wrap">
              <a href="https://www.devopsjsconf.com/">
                <img class="pass-list__img" src="https://media.graphcms.com/Y2hEh0EJShOHcAJYV8Js">
              </a>
            </div>
            <div class="pass-list__content">
              <h3 class="pass-list__title">DevOps.js Conference <span>(March 29-30, 2021)</span></h3>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>DevOps.js is an event for all the developers and architects involved in building infrastructure and setting up pipelines and deployments for JavaScript applications.</p>
                  <p>Full-access ticket included with the pass.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€80</span>**</div>
                  <div class="pass-list__price-multipass">free</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pass-list__item">
            <div class="pass-list__img-wrap">
              <a href="https://remote.reactsummit.com/">
                <img class="pass-list__img" src="https://media.graphcms.com/9msw0PLQRX38iTcNhdmg">
              </a>
            </div>
            <div class="pass-list__content">
              <h3 class="pass-list__title">React Summit Remote Edition <span>(April 14-16, 2021)</span></h3>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>The biggest React Conference in the Cloud with talks by core contributors from React and React Native teams.</p>
                  <p>Watch-only ticket for both Base Camp and Summit tracks is included with the pass.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€80</span>**</div>
                  <div class="pass-list__price-multipass">free</div>
                </div>
              </div>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>Full-access ticket upgrade available at 60% discount or you are able to choose full ticket to either React Summit or JSNation Live.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€250</span>**</div>
                  <div class="pass-list__price-multipass">€100 or free</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pass-list__item">
            <div class="pass-list__img-wrap">
              <a href="https://live.jsnation.com/">
                <img class="pass-list__img" src="https://media.graphcms.com/ttJ3xF2PQBmDQHnOysT4">
              </a>
            </div>
            <div class="pass-list__content">
              <h3 class="pass-list__title">JSNation Live <span>(June 9-10, 2021)</span></h3>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>The conference focusing on all things JavaScript, gathering international software engineers in the cloud.</p>
                  <p>Watch-only ticket for both tracks included with the pass.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€50</span>**</div>
                  <div class="pass-list__price-multipass">free</div>
                </div>
              </div>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>Full-access ticket upgrade available at 60% discount or you are able to choose full ticket to either React Summit or JSNation Live.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€150</span>**</div>
                  <div class="pass-list__price-multipass">€60 or free</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pass-list__item">
            <div class="pass-list__content">
              <h3 class="pass-list__title">Workshops </h3>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <p>Each conference we host is accompanied by a number of hands-on workshops, each taking usually 4+4 hours over the course of 2 days. The sessions are led by top industry trainers, the authors of popular OSS libraries, and professional speakers.</p>
                  <p>With the Conference Multipass, you're entitled to an unlimited 20% discount across all our events. The absolute discounted amount varies based on current workshop prices – the following example is based on JSNation Live workshop pricing.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€300</span>**</div>
                  <div class="pass-list__price-multipass">€240</div>
                </div>
              </div>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <h3 class='pass-list__title'>Super Early Birds access for in-person events</h3>
                  <p>With each conference announcement, we always run an exclusive pre-sale that’s accessible only to our core community and multipass holders. The limited offer will be available for the coming '20/21 events including React Summit 2021.</p>
                  <p>Early Bird discount varies based on current conference prices – the following example is based on React Summit pricing.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>€420</span>**</div>
                  <div class="pass-list__price-multipass">€240</div>
                </div>
              </div>
            </div>
          </div>
          <div class="pass-list__item">
            <div class="pass-list__content">
              <h3 class="pass-list__title"> </h3>
              <div class="pass-list__line">
                <div class="pass-list__text">
                  <h3 class='pass-list__title'>Total price</h3>
                  <p>Plus discounts on workshops and upgrades.</p>
                </div>
                <div class="pass-list__prices">
                  <div class="pass-list__price-regular"><span>380€</span>**</div>
                  <div class="pass-list__price-multipass">270€</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="btns-wrap to-right">
          <a href="https://ti.to/gitnation/conference-multipass" class="btn">Get your Multipass</a>
        </div>
        <div class="citizenship-info__tip">
          <p>* All prices indicated on the page are excl. VAT. The tax percentage varies from country to country and for individual/business clients. The final price will be shown at checkout. The team multipass prices are available on orders of 4+ items.</p>
          <p>** Regular prices (without the pass) may change in the future, but features of the pass and promised pass holder benefits are not subject to deductions of value. Expect only more features to be added!</p>
        </div>
      </div>
    </div>
  </section>
  {% include "partials/_mission.html" %}
</main><!-- .content -->

{% include "partials/_footer.html" %}

{% endblock %}
