---
pageKey: main
title: GitNation Events - Giving Open Source a human face
description: GitNation is a foundation contributing to the development of the technological landscape by organizing events which focus on the open source software.
ogUrl: https://gitnation.org
ogImage: https://gitnation.org/img/og-gitnation.png
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_hero.html" %}
		{% include "partials/_about.html" %}
		{% include "partials/_focus.html" %}
		{% include "partials/_events.html" %}
		{% include "partials/_visas.html" %}

		{% if pages[pageKey].pageSections.sponsors %}
			{% include "partials/_sponsors.html" %}
		{% endif %}

		{% include "partials/_mission.html" %}

	</main><!-- .content -->


{% include "partials/_footer.html" %}

{% endblock %}
