---
pageKey: multipass
title: Conference Multipass Subscription
description: Get a conference pass unlocking access to a number of remote and hybrid JavaScript events and the collection of recordings including talks and workshops.
ogUrl: https://gitnation.org/multipass-subscription
ogImage: https://gitnation.org/img/og-gitnation.png
inner: true
---

{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

	<main class="content">

		{% include "partials/_hero.html" %}
		{% include "partials/_citizenship.html" %}
		{% include "partials/_mission.html" %}

	</main><!-- .content -->

{% include "partials/_footer.html" %}

{% endblock %}
