<section class="section s-mission {% if inner %}compact{% endif %}" id="mission">
	<div class="container container--lg">
		<h4 class="section__title">{{ pagesPieceOfTexts.mission__title | safe }}</h4>

		<div class="section__content s-mission__content mission">
			<div class="mission__desc">
				We organize events for a bigger cause — we want modern Tech Community to become a better place for developers and enthusiasts alike by encouraging professional growth opportunities, skills evolution and nurturing passion for the craft.
			</div>

			<div class="mission__bottom">
				<div class="mission__tip">
					Are you with us? Let’s collaborate!<br>
					We are looking for partnership opportunities and are open to any brilliant ideas you might have.
				</div>
				<div class="mission__mail">
					<a href="mailto:hi@gitnation.org">hi@gitnation.org</a>
				</div>
			</div>
		</div>
	</div>
</section>
