<section class="section dark s-about" id="about">
	<video class="s-about__video" preload="auto" muted autoplay loop poster="img/hero_video.jpg">
		<source src="video/about.webm" type="video/webm"/>
		<source src="video/about.mp4" type="video/mp4"/>
	</video>

	<div class="container container--lg">

		<h4 class="section__title">{{ pagesPieceOfTexts.about__title | safe }}</h4>

		<div class="section__content about">
			<div class="about__intro">
				{{ pagesPieceOfTexts.about__intro | safe }}
			</div>

			<div class="about__desc">
				{{ pagesPieceOfTexts.about__desc | safe }}
			</div>
		</div>
	</div>
</section>