<section class="section s-mission {% if inner %}compact{% endif %}" id="mission">
	<div class="container container--lg">
		<h4 class="section__title">{{ pagesPieceOfTexts.mission__title | safe }}</h4>

		<div class="section__content s-mission__content mission">
			<div class="mission__desc">{{ pagesPieceOfTexts.mission__desc | safe }}</div>

			<div class="mission__bottom">
				<div class="mission__tip">{{ pagesPieceOfTexts.mission__tip | safe }}</div>
				<div class="mission__mail">
					{{ pagesPieceOfTexts.mission__link | safe }}
				</div>
			</div>
		</div>
	</div>
</section>
