.svg-arrow-link-dims {
	width: 14px;
	height: 13px;
}

.svg-calendar-dims {
	width: 32px;
	height: 32px;
}

.svg-face-dims {
	width: 24.98px;
	height: 32px;
}

.svg-fb-dims {
	width: 16px;
	height: 24px;
}

.svg-focus_1-dims {
	width: 32px;
	height: 31.04px;
}

.svg-focus_2-dims {
	width: 32px;
	height: 27.42px;
}

.svg-focus_3-dims {
	width: 28.53px;
	height: 32px;
}

.svg-focus_4-dims {
	width: 32px;
	height: 30.76px;
}

.svg-gh-dims {
	width: 21px;
	height: 20px;
}

.svg-location-dims {
	width: 32px;
	height: 32px;
}

.svg-mail-dims {
	width: 32px;
	height: 25.48px;
}

.svg-med-dims {
	width: 22px;
	height: 17px;
}

.svg-sl-dims {
	width: 14.2px;
	height: 14.2px;
}

.svg-tw-dims {
	width: 23px;
	height: 21px;
}

.svg-we-dims {
	width: 16px;
	height: 16px;
}

.svg-yt-dims {
	width: 24px;
	height: 15px;
}

